@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<CounterBase Count="@Count" OnCountChanged="incrementCount"  />

@code{
    public int Count = 42;

    public void incrementCount(int current)
    {
        Count = current;
    }
}
